:root {
    --main-bg: #021210;
    --box-bg: #160F2E;
    --profile-bg: #160F2E;
    --accent-color: #007ACC;
    --auth-btn-bg: #F6F4F3;
    --box-border-radius: 25px;
    --box-width: 45%;
    --progress-bg: #114555;
    --progress-filled-bg: #1FFFBC;
}

.app {
    width: 100%;
    height: min-content;
    min-height: 100vh;
    background-color: var(--main-bg);
    color: #fff;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-full-container {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    display: flex;
    background-color: var(--box-bg);
    transform: translateX(100%);
    transition: all .4s ease-in-out;
}

.auth-full-container.show {
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

.library-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .7s ease-in;
}

.library-container.blur {
    filter: blur(10px);
    user-select: none;
    cursor: default;
    transition: all .7s ease-in;
}

.profile-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.user-name {
    width: 160px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 20px;
    right: 60px;
}

.library-heading-container {
    width: 45%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bg);
    border-radius: var(--box-border-radius);
    margin-top: 50px;
    margin-bottom: 35px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.add-book-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.add-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.book-numbers-container {
    width: 45%;
    height: 200px;
    background-color: var(--box-bg);
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--box-border-radius);
}

.library-info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.library-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-heading {
    font-size: 16px;
    font-weight: 600;
}

.book-number {
    font-size: 32px;
    font-weight: 700;
    color: dodgerblue;
}

.progress-bar-container {
    width: 80%;
    transition: all .6s ease-in-out;
}

.book-container {
    width: var(--box-width);
    height: min-content;
    border-radius: var(--box-border-radius);
    background-color: var(--box-bg);
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.main-book-info {
    width: calc(100% - 40px);
    margin-right: 40px;
    height: 70px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.more-book-info {
    width: calc(100% - 40px);
    margin-right: 40px;
    height: 0;
    z-index: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .4s ease-in-out;
}

.book-container.more-info>.more-book-info {
    height: 40px;
    z-index: 3;
    opacity: 1;
    padding: 15px;
    transition: all .4s ease-in-out;
}

.slide-down-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.slide-down-icon.up {
    transform: rotate(calc(360deg + 180deg));
    transition: all .6s ease-in-out;
}

.book-date {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.book-title,
.book-author {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toggle-status {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: flex-end;
}

.status-name {
    font-size: 13px;
    font-weight: 300;
    margin-right: 5px;
}

.book-status {
    font-size: 15px;
    cursor: pointer;
}


.book-options-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
}

.edit,
.delete {
    cursor: pointer;
    user-select: none;
}

.edit {
    color: #1EFFBC;
}

.delete {
    padding-left: 6px;
    color: #FC440F;
}